<div class="darker-background"></div>

<!-- social btns -->
<div class="footer-social-icons">
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>

<!-- logo part -->

  <img alt="mainLogo" src="../../assets/logo/white_logo_transparent_background.png" class="mainLogo">
  <span class="slogen"> Homemade food- made with love</span>


<div class="space"></div>

<!--- navbar - top --->
      <nav class="navbar navbar-default navbar-inverse" role="navigation" data-spy="affix" data-offset-top="555">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#"><img src="../../assets/logo/white_logo_transparent_background.png" class="smallLogo"></a>
          </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-ex1-collapse ">
             <ul class="nav navbar-nav navbar-right  "  id="menu_items">
              <li class="active navbar-right"><a href="#">דף הבית</a></li>
              <li class="navbar-right"><a href="#">מי אנחנו</a></li>
              <li class="navbar-right"> <a href="#">אוכל ביתי</a></li>
              <li  class="navbar-right">
                 <a href="#" class="dropdown-toggle " data-toggle="dropdown" dir="rtl">סנן מתכונים לפי  <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" dir="rtl">
                          <li class="dropdown-submenu"><a tabindex="-1" href="#">לפי סוג</a>
                              <ul class="dropdown-menu">
                                 <li><a href="#">צמחוני</a></li>
                                 <li><a href="#">בשרי</a></li>
                                 <li><a href="#">ללא גלוטן</a></li>
                                 <li><a href="#">מנות צד</a></li>
                                 <li><a href="#">סלטים</a></li>
                                 <li><a href="#">קינוחים</a></li>
                               </ul>
                           </li>
                          <li class="dropdown-submenu"><a tabindex="-1" href="#">לפי רמת קושי</a>
                              <ul class="dropdown-menu">
                                 <li><a href="#">קשה</a></li>
                                 <li><a href="#">בינוני</a></li>
                                 <li><a href="#">קל</a></li>
                               </ul>
                           </li>
                           <li class="dropdown-submenu"><a tabindex="-1" href="#">לפי ארוחה</a>
                             <ul class="dropdown-menu">
                               <li><a  href="#">ארוחת בוקר</a></li>
                                <li><a href="#">ארוחת צהריים</a></li>
                                <li><a href="#">ארוחת ערב</a></li>
                              </ul>
                          </li>
                          <li class="dropdown-submenu"><a tabindex="-1" href="#">לפי חג</a>
                              <ul class="dropdown-menu">
                                 <li><a href="#">ראש השנה</a></li>
                                 <li><a href="#">שבועות</a></li>
                                 <li><a href="#">סוכות</a></li>
                                 <li><a href="#">חנוכה</a></li>
                                 <li><a href="#">פורים</a></li>
                                 <li><a href="#">פסח</a></li>
                               </ul>
                           </li>
                           <li class="dropdown-submenu"><a tabindex="-1" href="#">לפי צורת בישול</a>
                               <ul class="dropdown-menu">
                                  <li><a href="#">תנור</a></li>
                                  <li><a href="#">גז</a></li>
                                  <li><a href="#">מיקרו</a></li>
                                  <li><a href="#">בישול ארוך</a></li>
                                  <li><a href="#">טיגון</a></li>
                                  <li><a href="#">אפייה</a></li>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li class="navbar-right"><a href="#">צרו קשר</a></li>
             </ul>

             <div class="col-sm-3 col-md-3">
               <form class="navbar-form" role="search">
                 <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search" name="q">
                   <div class="input-group-btn">
                     <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                   </div>
                 </div>
               </form>
             </div>
           <button type="button" class="btn btn-default navbar-btn  btn-inverse  navbar-left  btn-xs "  >Register</button>
           <button type="button" class="btn btn-default navbar-btn  navbar-left btn-xs btn-primary"  >Sign in</button>
         </div><!-- /.navbar-collapse -->

        </nav> <!-- End of Nav Bar    ------------------------>
